@import url(utilities.css);

main {
	font-style: normal;
	margin-bottom: 20px;
	margin-top: 10px;
	max-width: 500px;
	width: 100%;
}

/* contiene las ímagenes, necesario el relative para los botones */
.slider {
	position: relative;
	margin: 15px auto;
	max-width: 750px;
	width: 100%;
}

/* Por defecto oculta todas las ímagenes del slider*/
.slides img {
	width: 100%;
	display: none;
}

/* Muestra la imagen pertinente y les agrega una animación */
img.display-slide {
	display: block;
	animation: fade 1s;
}

.slider button {
	background-color: hsla(220, 3%, 70%, 1);
	border-radius: 100%;
	padding: 10px;

	/* Posiciona los botones al medio del slider */
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	/* -- */
}

/* bastante explicativos por si solos */
.prev {
	left: 5px;
}

.next {
	right: 5px;
}

#design-info {
	font-family: 'Amaranth', system-ui;
}

#design-info {
	width: 95%;
	margin: 0 auto;
}

#design-title,
#design-price {
	font-size: 25px;
	color: var(--text-color-dark);
}

.design-desc {
	color: var(--text-color-neutral);
	font-size: 16px;

	margin-top: 10px;
	margin-bottom: 25px;
}

#ask-btn {
	align-items: center;
	border-radius: 20px 0px;
	color: var(--text-color-light);
	display: flex;
	gap: 10px;
	margin: 0 auto;
	padding: 5px 20px;
}

@keyframes fade {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

@media screen and (min-width: 768px) {
	main {
		max-width: 700px;
		width: 90%;
	}
}
@media screen and (min-width: 1024px) {
	.display-slide {
		max-width: 400px;
		margin: 0 auto;
	}
}
