/* General Styles */
@import url(utilities.css);

/* Header Styles */
header {
	align-items: center;
	background-color: var(--primary-600);
	display: flex;
	padding: 1rem 2rem;
	margin-top: 25px;
}

.logo {
	margin-right: auto;
	transform: scale(0.8);
}

/* Products Showcase Styles */
#products-showcase {
	display: flex;
	flex-direction: column;
	gap: 0 20px;
	padding: 12px;
	padding-bottom: 0;
}

.welcome-message {
	background-color: var(--primary-600);
	margin-bottom: 35px;
}

.cards-container {
	display: grid;
	gap: 25px;
	grid-template-columns: 1fr;
	margin: 0 auto;
}

.card {
	border-radius: 20px;
	position: relative;
	cursor: pointer;
}

/* this selector styles the card on child link focus */
.card:has(.card-link:focus, .card-link:hover) {
	-webkit-animation: shadow-drop-2-center 0.4s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.card-link {
	height: 100%;
	position: absolute;
	width: 100%;
}

.card-link:focus {
	outline: none;
}

.card-footer {
	background-color: var(--primary-600);
	border-radius: 0 0 20px 20px;
	padding: 15px 0;
	text-align: center;
}

.decoration-container {
	display: none;
}

/* Keyframes for the card states */
@-webkit-keyframes shadow-drop-2-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		-webkit-transform: translateZ(50px);
		transform: translateZ(50px);
		-webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
	}
}
@keyframes shadow-drop-2-center {
	0% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
		-webkit-transform: translateZ(50px);
		transform: translateZ(50px);
		-webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
	}
}

/* .brand-decoration {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	max-width: 350px;
	justify-content: flex-end;
}

.hands-logo-container {
	display: grid;
	gap: 0 10px;
	grid-template-columns: 1fr 1fr;
	margin: 25px 0;
}

.deco-container:not(.pattern-container) {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 20px;
}

} */
