/* General Styles */
@import url(utilities.css);

/* Header Styles */
header {
	align-items: center;
	background-color: var(--primary-600);
	display: flex;
	padding: 1rem 2rem;
	margin-top: 25px;
}

.logo {
	margin-right: auto;
	transform: scale(0.8);
}

/* Products Showcase Styles */
.products-showcase {
	display: flex;
	flex-direction: column;
	gap: 0 20px;
	padding: 12px;
	padding-bottom: 0;
}

.welcome-message {
	background-color: var(--primary-600);
	margin-bottom: 35px;
}

.cards-container {
	display: grid;
	gap: 25px;
	grid-template-columns: 1fr;
	margin: 0 auto;
}

.card {
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	transition: all 0.5s;
}

/* this selector styles the card on child link focus */
.card:has(.card-link:focus, .card-link:hover) {
	transform: translateY(-5px);
}

.card:has(.card-link:focus) .product-name.bg-red {
	animation: lightToDark 0.5s forwards;
}

.card:has(.card-link:focus) .product-name.bg-red-dark {
	animation: darkToLight 0.5s forwards;
}

.card:has(.card-link:active) {
	transform: scale(0.95) rotateZ(1.7deg);
}

/* Styles the elements that are not currently hovered */
.cards-container:hover > .card:not(:hover) {
	opacity: 0.8;
}

.card-link {
	height: 100%;
	position: absolute;
	width: 100%;
}

.card-link:focus {
	outline: none;
}

.product-name {
	border-radius: 0 0 20px 20px;
	padding: 15px 0;
	text-align: center;
}

.go-back {
	background-color: var(--primary-600);
	border-radius: 50%;
	padding: 7px;
	transition: all 0.5s;
}

.go-back:hover {
	transform: translateY(-5px);
}
.go-back:active {
	transform: translateY(-10px);
}

.decoration-container {
	display: none;
}

@keyframes lightToDark {
	from {
		background-color: var(--primary-600);
	}

	to {
		background-color: var(--primary-950);
	}
}

@keyframes darkToLight {
	from {
		background-color: var(--primary-950);
	}

	to {
		background-color: var(--primary-600);
	}
}

/* .brand-decoration {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	max-width: 350px;
	justify-content: flex-end;
}

.hands-logo-container {
	display: grid;
	gap: 0 10px;
	grid-template-columns: 1fr 1fr;
	margin: 25px 0;
}

.deco-container:not(.pattern-container) {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 20px;
}

} */
