/* General Styles */
@import url(utilities.css);

/* Products Showcase Styles */
main {
	display: grid;
	gap: 0 20px;
	padding: 12px;
}

.home-main {
	padding-top: 64px;
}

h1 {
	background-color: var(--primary-600);
	font-size: 25px;
	margin-bottom: 35px;
}

.cards-container {
	display: grid;
	gap: 25px;
	grid-template-columns: 1fr;
	height: fit-content;

	margin: 0 auto;
}

.card {
	border-radius: 20px;
	position: relative;
	cursor: pointer;
	transition: all 0.5s;
}

/* this selector styles the card on child link focus */
.card:has(.card-link:focus, .card-link:hover) {
	transform: translateY(-5px);
}

.card:has(.card-link:focus) .product-name.bg-red {
	animation: lightToDark 0.5s forwards;
}

.card:has(.card-link:focus) .product-name.bg-red-dark {
	animation: darkToLight 0.5s forwards;
}

.card:has(.card-link:active) {
	transform: scale(0.95) rotateZ(1.7deg);
}

/* Styles the elements that are not currently hovered */
.cards-container:has(.card:hover) > .card:not(:hover) {
	opacity: 0.8;
}

.card-link {
	height: 100%;
	position: absolute;
	width: 100%;
}

.card-link:focus {
	outline: none;
}

.product-name {
	border-radius: 0 0 20px 20px;
	padding: 15px 0;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.cards-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 225px;
		max-width: 750px;
	}
}
