/* General Styles */
@import url(utilities.css);

body {
	background-color: var(--bg-light);
	min-width: 200px;
	color: white;
}

header,
section {
	margin: auto;
	max-width: 1200px;
	width: 95%;
}

a {
	text-decoration: none;
}

.bg-red {
	background-color: var(--secondary-600);
}

.bg-cream {
	background-color: var(--primary-100);
}

.rounded-borders {
	border-radius: 0px 50px 0px 50px;
}

/* Header Styles */
header {
	align-items: center;
	background-color: var(--secondary-600);
	display: flex;
	padding: 1rem 2rem;
	margin-top: 25px;
}

.menu-btn {
	display: none;
}

.logo {
	margin-right: auto;
	transform: scale(0.8);
}

.contact-link {
	margin-right: 49px;
}

form {
	background-color: var(--text-color);
	border-radius: 15px;
	color: white;
	display: grid;
	gap: 10px;
	grid-template-columns: 200px 1fr;
	padding: 5px 15px;
}

form input:focus {
	outline-color: a;
}

form button {
	width: fit-content;
}

/* Products Showcase Styles */
#products-showcase {
	display: grid;
	grid-template-columns: 60% 40%;
	gap: 0 20px;
	padding: 50px;
	min-height: 600px;
}

.cards-container {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(2, 1fr);
	max-width: 500px;
}

.card {
	background-color: var(--secondary-300);
	border-radius: 20px;
	position: relative;
	width: 100%;
	min-height: 400px;
}

.card-footer {
	background-color: var(--secondary-600);
	border-radius: 0 0 20px 20px;
	bottom: 0;
	padding: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.brand-decoration {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	max-width: 350px;
	justify-content: flex-end;
}

.hands-logo-container {
	display: grid;
	gap: 0 10px;
	grid-template-columns: 1fr 1fr;
	margin: 25px 0;
}

.deco-container:not(.pattern-container) {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.full-wd {
	width: 100%;
}

.rotated {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
/* mobile queries */

@media screen and (max-width: 768px) {
	.menu-btn {
		display: initial;
	}

	form {
		display: none;
	}

	.contact-link {
		display: none;
	}

	#products-showcase {
		gap: 60px 0;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		padding: 50px 15px;
	}

	.cards-container {
		display: grid;
		gap: 25px;
		grid-template-columns: 1fr;
	}

	.brand-decoration {
		display: none;
	}
}
