/* General Styles */
@import url(utilities.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

body {
	background-color: var(--bg-light);
}

header,
section {
	margin: auto;
	max-width: 1200px;
	width: 100%;
}

a {
	text-decoration: none;
}

.bg-red {
	background-color: var(--secondary-600);
}

.bg-cream {
	background-color: var(--primary-100);
}

.rounded-borders {
	border-radius: 0px 50px 0px 50px;
}

/* Header Styles */
header {
	align-items: center;
	background-color: var(--secondary-600);
	display: flex;
	padding: 1rem 2.5rem;
	margin-top: 25px;
}

.logo {
	margin-right: auto;
}

.contact-link {
	margin-right: 49px;
}

form {
	background-color: var(--text-color);
	border-radius: 15px;
	color: white;
	display: grid;
	gap: 10px;
	grid-template-columns: 200px 1fr;
	padding: 5px 15px;
}

form input:focus {
	outline-color: a;
}

form button {
	width: fit-content;
}

/* Products Showcase Styles */
#products-showcase {
	display: grid;
	grid-template-columns: 60% 40%;
	gap: 0 20px;
	padding: 50px 10px;
}

.cards-container {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(2, 1fr);
}

.card {
	background-color: var(--secondary-300);
	border-radius: 20px;
	position: relative;
	width: 100%;
}

.card-footer {
	background-color: var(--secondary-600);
	border-radius: 0 0 20px 20px;
	bottom: 0;
	padding: 15px;
	position: absolute;
	text-align: center;
	width: 100%;
}

.brand-decoration {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	max-width: 350px;
	justify-content: flex-end;
}

.hands-logo-container {
	display: grid;
	gap: 0 10px;
	grid-template-columns: 1fr 1fr;
	margin: 25px 0;
}

.deco-container:not(.pattern-container) {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.full-wd {
	width: 100%;
}

.rotated {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}